{% extends "master.html" %}
{% block content %}
{% if request.user.is_authenticated %}
{% for message in messages %}
<div>
  [{{ message.created_at }}] {{ message.author.first_name }}: {{ message.text }}
</div>
{% endfor %}
<!-- Accent-colored raised button with ripple -->
 <!-- Textfield with Floating Label -->

<form action="/chat/" method="POST" >
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        SEND
    </button>
</form>
{% else %}
  <h1>Nicht eingeloggt</h1>
  <p>
    Bitte logge dich ein. <br>
    Klicke <a href="/login/">hier</a>
  </p>
{% endif %}
{% endblock %}