{% extends "master.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script defer src="{% static 'js/script.js' %}"></script>
<script defer src="{% static 'js/chat.js' %}"></script>
{% if request.user.is_authenticated %}

<div id="messageContainer" class="messages-container">
  
  {% if messages %}
    {% for message in messages %}
    
    <div class="width message-div">
      <span class="loading">[{{ message.created_at }}]</span> <b>{{ message.author.username }}</b>: <span class="black">{{ message.text }}</span>
    </div>

    {% endfor %}
    {% else %}

  <span id="defaultMessage">This is a new Chatroom. Be the first to send a message!</span>
{% endif %}

</div>

<form onsubmit="sendMessage(); return false;" method="POST" class="chatForm">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="hidden" id="username" value="{{ request.user.username}}">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" required>
        <label class="mdl-textfield__label" for="messageField">Nachricht...</label>
    </div>
    <button class="send-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        SEND
    </button>
</form>
{% else %}
  <h1>Nicht eingeloggt</h1>
  <p>
    Bitte logge dich ein. <br>
    Klicke <a href="/login/">hier</a>
  </p>
{% endif %}
{% endblock %}