{%  extends "master.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script defer src="{% static 'js/script.js' %}"></script>
         {% if wrongPassword %}
            <p class="red">Benutzername oder Passwort ist falsch</p>
          {% endif %}
          <form action="/login/" method="POST" class="login-form">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
            <div class="mdl-textfield mdl-js-textfield">
            <input name="username" class="mdl-textfield__input" type="text" id="loginName" required>
            <label class="mdl-textfield__label" for="loginName">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <input name="password" class="mdl-textfield__input" type="password" id="loginPass" required>
              <label class="mdl-textfield__label" for="loginPass">Password</label>
            </div>
            <button id="loginButton">Login</button>
          </form>
          <p class="no-user">Noch keinen Account? <a href="/register/">Registrieren</a>
{% endblock %}
